<style>
            h1{
                color:red;
                background-color:rgb(255,200,190);
                
            }
            h2{
                color:green;
            }
            p {
                background-color:rgb(10,173,173);
                font-family:verdana;
            }
        </style>